
.title {
    font-weight: bold;
    color : rgb(216,222,222);
}

.selectableRow {
    color: rgb(175,175,175);
    padding-top: 10px;
    padding-bottom: 10px;
}

.selectableRow.selected {
    color: @base-color;
}

.selectableRow:hover {
    background-color: rgb(13,30,48);
    cursor: pointer;
}